.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  &__links {
    display: none;
    text-align: center;
    background-color: $base;
    color: #ffffff;
    line-height: 30px;
    padding: 15px 0;

    br {
      display: none;
      @include mobile {
        display: block;
      }
    }

    .main-site {
      display: inline-block;
      line-height: 1;
      vertical-align: middle;
      color: #ffffff;
      white-space: nowrap;

      span {
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
        margin-right: 0.5em;
      }

      a {
        color: $accent;
        text-decoration: none;
        transition: .2s $standart;
        margin: 0;

        &:hover {
          color: #ffffff;
        }
      }
    }

    a {
      display: inline-block;
      line-height: 1;
      vertical-align: middle;
      color: #fff;
      text-decoration: none;
      white-space: nowrap;
      transition: .2s $standart;
      margin-right: 40px;

      span, svg {
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
      }

      svg {
        width: 16px;
        height: 16px;
        fill: $accent;
        margin-right: 0.5em;
      }

      &:hover {
        color: $accent;
      }

      @include mobile {
        margin: 0;
      }
    }

    @include mediumDown {
      display: block;
    }
  }

  &__menu {
    display: flex;
    align-items: flex-start;
    @include mediumDown {
      display: block;
    }

    &--center {
      flex: none;
      text-align: center;
      padding: 0 60px;
      @include mediumDown {
        padding: 0;
      }

      .header--brand {
        display: block;
        width: 220px;
        height: 170px;
        margin: 0 auto;
      }
    }

    &--left, &--right {
      flex: 1;
      padding: 30px 0;
      border-bottom: 1px solid rgba(#ffffff, .52);

      @include mediumDown {
        display: none;
      }
    }

    &--left {
      a {
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
        color: #fff;
        text-decoration: none;
        white-space: nowrap;
        transition: .2s $standart;

        span, svg {
          display: inline-block;
          line-height: 1;
          vertical-align: middle;
        }

        svg {
          width: 16px;
          height: 16px;
          fill: $accent;
          margin-right: 0.5em;
        }

        &:first-child {
          margin-right: 40px;
        }

        &:hover {
          color: $accent;
        }
      }
    }

    &--right {
      text-align: right;

      .main-site {
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
        color: #ffffff;
        white-space: nowrap;

        a {
          color: $accent;
          text-decoration: none;
          transition: .2s $standart;

          &:hover {
            color: #ffffff;
          }
        }
      }

      .btn {
        margin-left: 40px;
      }
    }
  }
}