footer.footer
  .container
    .row
      .col.md-3.offset-md-2.sm-4
        .main-site
          span Перейти на 
          br
          a(href="http://aromcom.md" target="_blank") aromcom.md
      .col.lg-4.md-3.sm-4
        .footer__link
          a(href="tel:+37379701007")
            svg: use(xlink:href="#icon__phone")
            span +373 <strong>7970 1007</strong>
        .footer__link
          a(href="mailto:info@aromcom.md")
            svg: use(xlink:href="#icon__envelope")
            span info@aromcom.md
      .col.lg-3.md-4.sm-4
        .footer__copyright Сopyright-2018 © by Aromcom<br>Все права защищены





