section.screen-2 
  .container
    .row: .col.lg-8.offset-lg-2
      h1.screen__header(data-aos="zoom-in-down") мы Лидеры на<br>отечественном рынке
      p.screen__description Лорем ипсум долор сит амет, не постеа аццусата ирацундиа нец, нам ферри фабеллас еи. Усу аццусам номинави цомплецтитур не, про етиам либрис поссим еа.
    .row.screen-2__counters
      .col.md-3.sm-6: .counter
        .counter__circle(data-aos="zoom-in" data-aos-delay="100")
          .counter__circle--number.big 8
          .counter__circle--text лет
        .counter__description За эти годы мы успешно работаем на рынках Молдовы, Украины и Румынии
      .col.md-3.sm-6: .counter
        .counter__circle(data-aos="zoom-in" data-aos-delay="200")
          .counter__circle--number +3 000
          .counter__circle--text работ
        .counter__description Благодаря опыту,  мы можем выполнить производство заказа 
          strong от 1 000 до 1 000 000 штук
      .col.md-3.sm-6: .counter
        .counter__circle(data-aos="zoom-in" data-aos-delay="300")
          .counter__circle--number +2 000
          .counter__circle--text клиентов
        .counter__description Успешного сотрудничества с клиентами во всем мире. Для нас растояние не имеет значения.
      .col.md-3.sm-6: .counter
        .counter__circle(data-aos="zoom-in" data-aos-delay="400")
          .counter__circle--number 10
          .counter__circle--text торговых марок
        .counter__description В наших силах разработать и изготовить линию продуктов в стиле Вашей тоговой марки



