section.screen-8#request2
  .container
    .row
      .col.md-4: img(src="assets/bg__screen--8.png", alt="", data-aos="fade-left").request-image
      .col.md-8
        h1.screen__header
          span Готовы сотрудничать?
          br
          strong оформите заявку
        .screen-8__form
          .form--input
            label: svg: use(xlink:href="#icon__user")
            input(type="text", placeholder="Ваше Имя")
          .form--input
            label: svg: use(xlink:href="#icon__phone")
            input(type="tel", placeholder="Номер телефона")
          .form--control: button.btn.light-outline отправить
