section.screen-7
  .container
    h1.screen__header(data-aos="zoom-in-down"): strong наши клиенты
  .carousel__clients.owl-carousel
    img(src="assets/client__1.png", alt="")
    img(src="assets/client__2.png", alt="")
    img(src="assets/client__3.png", alt="")
    img(src="assets/client__4.png", alt="")
    img(src="assets/client__5.png", alt="")
    img(src="assets/client__6.png", alt="")
    img(src="assets/client__7.png", alt="")
    img(src="assets/client__8.png", alt="")
    img(src="assets/client__9.png", alt="")
    img(src="assets/client__10.png", alt="")
