section.screen-5 
  .container
    h1.screen__header(data-aos="zoom-in-down"): strong форма ароматизатора
    p.screen__description На сегоднейшний день мы можем предложить Вам выбрать одну из 50 форм<br>будующего ароматизатора или<br><strong>мы готовы изготовить Вашу уникальную форму для ароматизатора</strong>
    .carousel__knifes.owl-carousel
      - for(i=0;i<5;i++)
        .item
          img(src="assets/knife__1.png", alt="")
          img(src="assets/knife__7.png", alt="")
        .item
          img(src="assets/knife__2.png", alt="")
          img(src="assets/knife__8.png", alt="")
        .item
          img(src="assets/knife__3.png", alt="")
          img(src="assets/knife__9.png", alt="")
        .item
          img(src="assets/knife__4.png", alt="")
          img(src="assets/knife__10.png", alt="")
        .item
          img(src="assets/knife__5.png", alt="")
          img(src="assets/knife__11.png", alt="")
        .item
          img(src="assets/knife__6.png", alt="")
          img(src="assets/knife__12.png", alt="")
