section.screen-3
  .container
    h1.screen__header(data-aos="zoom-in-down"): strong Примеры наших работ
    .carousel__portfolio.owl-carousel
      img(src="assets/portfolio__1.png", alt="")
      img(src="assets/portfolio__2.png", alt="")
      img(src="assets/portfolio__3.png", alt="")
      img(src="assets/portfolio__4.png", alt="")
      img(src="assets/portfolio__5.png", alt="")
      img(src="assets/portfolio__6.png", alt="")
      img(src="assets/portfolio__1.png", alt="")
      img(src="assets/portfolio__2.png", alt="")
      img(src="assets/portfolio__3.png", alt="")
      img(src="assets/portfolio__4.png", alt="")
      img(src="assets/portfolio__5.png", alt="")
      img(src="assets/portfolio__6.png", alt="")
    .view-all: a(href="http://aromcom.md/custom-airfreshners/" target="_blank").btn.dark-outline Все работы


