section.screen-4
  .container
    h1.screen__header(data-aos="zoom-in-down") 100 штук в подарок
    p.screen__description Отправив заявку сейчас к каждому заказу в 2000 едениц, еще 100 в подарок
  .screen-4__footer
    img(src="assets/bg__screen--4__2.png", alt="", data-aos="zoom-in-up")
    a(href="#request2").btn.accent.large оформить заявку