section.screen-6
  .container
    .row: .col.md-8.offset-md-2
      h1.screen__header(data-aos="zoom-in-down"): strong О компании
      p.screen__description(data-aos-delay="100" data-aos="fade-right") Компания "Aromcom" использует только сертифицированные отдушки, произведенные во Франции специально для применения в автомобильных ароматизаторах. По желанию клиента, автомобильный ароматизатор может стать эффективным носителем рекламы предприятия или товара, приятным и нужным сувениром. 
      p.screen__description(data-aos-delay="200" data-aos="fade-left") Нашу компанию, отличает особое отношение к клиентам. Долгосрочные партнерские отношения с нашими клиентами очень важны для нас. 
      p.screen__description(data-aos-delay="300" data-aos="fade-right") Для партнеров и дистрибьюторов компания "Aromcom" рада предложить регулярно расширяющийся ассортимент, разумные и достойные цены, гибкую систему скидок, индивидуальный подход , удобную форму оформления заказов.
